

.container {
  position: relative;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}

.title-container{
  position: absolute;
  height: 300px;
  padding-top: 185px;
}


.subhead-container{
  position: absolute;
  height: 300px;
  padding-top: 64px;
}

.contents-container{

  position: absolute;
  height: 300px;
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 700px;
  padding-right: 64px;
  text-align: left;
  border-style: solid;
  border-width: 2px;
  
}


.video-container{
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}


#video-title{
  color: white;
  font-size: 46px;
  text-decoration: underline;
}
#video-description{
  display: block;
  width: 680px;
  color: white;
}

.thumbnail-container{
  
  position: relative;

}

.invisible{
  visibility: hidden;
}

.thumb-wma, .thumb-ns,
.thumb-sns, .thumb-snsr {
  position: relative;
  height: 130px;
  width:  1000px;
  border-radius: 2px;
  margin-top: 30px;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background-size: cover;
  cursor: pointer;
}

.thumb-wma{
  background-image: url("img/wma-thumb.png");
}

.thumb-ns{
  background-image: url("img/ns-thumb.png");
}

.thumb-sns{
  background-image: url("img/sns-thumb.png");
}

.thumb-snsr{
  background-image: url("img/snsr-thumb.png");
}

.thumb-wma h2, .thumb-ns h2,
.thumb-sns h2, .thumb-snsr h2{
  position: absolute;
  display: none;
  padding-left: 10px;
}

a{
  color: black;
}



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  margin: 0;
  font-size: 1.9em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  background-color: #e1f3f4;
  color: #363030; }

.logo{background:url(images/logo.png) no-repeat; width:67px; height:180px;margin-top:8%;}

.scrollDown{
  height: 50px;
  width: 128px;
  position: fixed;
  right: 200px;
  bottom: 64px;
}

.scrollUp{
  height: 50px;
  width: 128px;
  position: fixed;
  right: 200px;
  top: 64px;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 37px;
}

.color.first{
  background-color: #e1f3f4;
}

.color.second{
  color: white;
  background-color: #0d091d;
}

.color.change{

  background-color: #0d091d;
}


/* Self Clearing Goodness */
.container:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .scrollDown{
    visibility: hidden;
  }
  
  .scrollUp{
    visibility: hidden;
  }

  .title-container{
    padding-top: 0px;
  }

  .title-container h1{
    font-size: 24px;
  }

  .title-container h2{
    font-size: 16px;
  }

  .contents-container{
    margin-left: 0px;   
    margin-top: 24px;
    font-size: 16px;
    padding-right: 24px;
  }

  .contents-container h1{
    font-size: 24px;
  }

  .subhead-container{
    padding-top: 10px;
  }
  .subhead-container h1{
    font-size: 24px;
  }

  .thumb-wma, .thumb-ns,
  .thumb-sns, .thumb-snsr {
    height: 65px;
    width:  280px;
    margin-top: 30px;
  }

  .thumb-wma h2, .thumb-ns h2,
  .thumb-sns h2, .thumb-snsr h2{
    font-size: 16px;
    position: absolute;
    display: none;
    padding-left: 10px;
  }

}


@media(max-height: 800px){

  .subhead-container h1{
    font-size: 74px;
  }

  .thumb-wma, .thumb-ns,
  .thumb-sns, .thumb-snsr {
    background-position: right;
    height: 85px;
    width: 1000px;
    margin-top: 20px;
  }

  .thumb-wma h2, .thumb-ns h2,
  .thumb-sns h2, .thumb-snsr h2{
    font-size: 32px;
  }

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .scrollDown{
    height: 50px;
    width: 128px;
  }
  
  .scrollUp{
    visibility: hidden;
  }

  .title-container{
    padding-top: 64px;
  }

  .title-container h1{
    font-size: 32px;
  }

  .title-container h2{
    font-size: 24px;
  }

  .contents-container{
    margin-left: 600px;   
    margin-top: 24px;
    font-size: 24px;
    padding-right: 16px;
  }

  .contents-container h1{
    font-size: 32px;
  }

  .subhead-container{
    padding-top: 24px;
  }
  .subhead-container h1{
    font-size: 32px;
  }

  .thumb-wma, .thumb-ns,
  .thumb-sns, .thumb-snsr {
    height: 124px;
    width:  970px;
    margin-top: 30px;
  }

  .thumb-wma h2, .thumb-ns h2,
  .thumb-sns h2, .thumb-snsr h2{
    font-size: 32px;
    position: absolute;
    display: none;
    padding-left: 10px;
  }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
  
  .scrollDown{
    visibility: hidden;
  }
  
  .scrollUp{
    visibility: hidden;
  }

  .title-container{
    padding-top: 0px;
  }

  .title-container h1{
    font-size: 24px;
  }

  .title-container h2{
    font-size: 16px;
  }

  .contents-container{
    margin-left: 0px;   
    margin-top: 24px;
    font-size: 16px;
    padding-right: 24px;
  }

  .contents-container h1{
    font-size: 24px;
  }

  .subhead-container{
    padding-top: 10px;
  }
  .subhead-container h1{
    font-size: 24px;
  }

  .thumb-wma, .thumb-ns,
  .thumb-sns, .thumb-snsr {
    height: 65px;
    width:  280px;
    margin-top: 30px;
  }

  .thumb-wma h2, .thumb-ns h2,
  .thumb-sns h2, .thumb-snsr h2{
    font-size: 16px;
    position: absolute;
    display: none;
    padding-left: 10px;
  }

}